<app-search-bar *ngIf="filter" [expanded]="!searchQuery" (onSearchQuery)="onSearchQuery($event)"></app-search-bar>

<section [ngStyle]="{'padding-top': searchQuery ? '78px' : ''}" id="search-results" *ngIf="filter; else elseBlock">
    <ul id="search-list" [ngStyle]="{'min-height': searchQuery ? 'calc(100vh - 78px)' : '100vh'}">
        <li class="search-item" *ngFor="let character of filter">
            <app-hero-card [routerLink]="['/character', character.id]" [data]="character"></app-hero-card>
        </li>
    </ul>
</section>

<ng-template #elseBlock>
    <app-spinner></app-spinner>
</ng-template>