#top-bar {
    color: white;
    background-color: #ED1D24;
    .container {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        .top-bar--title {
            font-size: 1rem;
            margin: 0;
            padding: 0 0 0 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 105px;   
            @media screen and (min-width: 768px) {
                padding-right: 0;
            }                      
        }
        svg {
            height: 40px;
            width: auto;
        }
    }
}